<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>

        <link rel="stylesheet" href="/style.css">

    </head>
    <body>

      <div id="container">

        <% include ../partials/header.ejs %>
        <div class="show-page">
          <div class="fields">
          <h1>log in</h1>
            <form action="/user/login" method="post">
            <ul>
              <li class="login">Username:</li> <input name="username" /> <br />
              <li class="login">Password:</li> <input type="password" name="password"/><br />
            </ul>
              <button type="submit">Submit</button><br>
              <% if (message) { %>
                <p class="message"><%= message %></p>
              <% } %>
            </form>
          </div>

          <div class="fields">
            <h1>register</h1>
            <form action="/user/register" method="POST">
              <ul>
              <li class="login">Username:</li><input name="username" /> <br />
              <li class="login">Password:</li><input type="password" name="password" /><br />
              </ul>
              <button type="submit">Register</button>
            </form>
          </div>

        </div>

        <% include ../partials/footer.ejs %>


      </div>
    </body>
</html>
