<div class="header">

  <div class="head_left">
    <div class="logo">
      <a href='/'>hair<span class="looks">LOOKS</span></a>
    </div>
    <a href='/photos/feed'>Feed</a>
    <a href='/photos/'>Your Page</a>
    <a href='/photos/users'>Users</a>
  </div>
  <div class="head_right">
    <a href='/sessions/login'>Log In</a>
    <a href='/users/register'>Register</a>
  </div>

 </div>
