<div class="header">

  <div class="head_left">
    <div class="logo">
      <a href='/'><span class="h">h</span>air<span class="looks">LOOKS</span></a>
    </div>
    <a class="top-links" href='/feed'>Feed</a>
    <a class="top-links" href='/'>Your Page</a>
    <a class="top-links" href='/user'>Users</a>
  </div>
  <div class="head_right">
    <a class="top-links" href='/user/login'>Log In</a>
    <a class="top-links" href='/users/register'>Register</a>
  </div>

 </div>
