<div class="header">

  <div class="head_left">
    <div class="logo">
      <a href='/'><span class="h">t</span>ailored<span class="looks">hair</span></a>
    </div>
    <a class="top-links" href='/feed'>Feed</a>
    <a class="top-links" href='/users'>Users</a>
  </div>
  <div class="head_right">
    <% if (username) { %>
        <span class="hi">Hi, <span class="name"><%= username %></span>!</span> <a class="top-links" href="/user/logout">Log Out</a>
    <% } else { %>
    <a class="top-links" href='/user/login'>Log In | Register</a>
    <% } %>
  </div>

 </div>
