<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Feed</title>
  </head>
  <body>
    hi
    <% for (let Photo of allPhotos){ %>
      <a href='/photos/<%=Photo._id %>'><img src="<%= Photo.url %>"></a>
    <% } %>

  </body>
</html>
