<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Feed</title>

    <link rel="stylesheet" href="/style.css">

  </head>
  <body>

    <div id="container">

      <% include ../views/partials/header.ejs %>

      <div class="show-page">
        <h1>feed</h1>
        <hr class="indigo" />
        <hr class="sky" />
        <% for (let photo of photos) { %>
          <a href="/feed/<%= photo._id %>">
          <div class="show-img-container">
            <div class="show-text">
              Posted By: <%= photo.submitted_by %>
            </div>
            <img src="<%= photo.url %>">
          </div></a>
          <% } %>
        </div>

    </div>

  </body>
</html>
