<!DOCTYPE html>
<html>
   <head>
     <meta charset="utf-8">
     <title>TAILOREDhair</title>

     <link rel="stylesheet" href="/style.css">

   </head>
   <body>
     <div id="container">

       <% include ../views/partials/header.ejs %>

       <div class="spotlight">
         <div class="spot-cont">
         <% for (let photo of photos) { %>
           <div class="image-cont">
           <img src="<%= photo.url %>">
           </div>
        <% } %>
        </div>
       </div>

       <% include ../views/partials/footer.ejs %>

     </div>
   </body>
</html>
