<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>hairLOOKS</title>

    <link rel="stylesheet" href="/style.css">

  </head>
  <body>
    <div id="container">

      <% include ../views/partials/header.ejs %>

      <div class="spotlight">
        <% if (username) { %>
            Welcome, <%= username %>. <a href="/user/logout">Log Out</a>
        <% } %>
              SPOTLIGHT AREA
      </div>

    </div>

  </body>
</html>
