<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Profile</title>

    <link rel="stylesheet" href="/style.css">

    <%# add username property tp title instead of user%>
  </head>
  <body>

    <div id="container">

      <% include ../views/partials/header.ejs %>

      <a href="/users/newphoto">Upload New Photo</a>
      <h1><%= currentPage %></h1>

      <% for (let i = 0; i < photos.length; i++) { %>
        <a href="/users/<%= photos[i].id %>/"><img src="<%= photos[i].url %>" /></a>
      <% } %>
    </div>

  </body>
</html>
