<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User Profile</title>

    <link rel="stylesheet" href="/style.css">

    <%# add username property tp title instead of user%>
  </head>
  <body>

    <div id="container">

      <% include ../views/partials/header.ejs %>

      <a href="/feed/new">Upload New Photo</a>
      <h1><%= username %></h1>

      <% for (let photo of photos) { %>
        <%= photo.caption %>
        <a href='/feed/<%= photo._id %>'><img src="<%= photo.url %>"></a>

      <% } %>

    </div>

  </body>
</html>
