<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>User's Photo</title>

    <link rel="stylesheet" href="/style.css">

  </head>
  <body>

    <div id="container">

      <% include ../views/partials/header.ejs %>

      <a href="/photos/new">Add a Photo</a>
      <%# change to just this user's photos%>


    </div>

  </body>
</html>
