<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>All Users</title>

    <link rel="stylesheet" href="/style.css">

  </head>
  <body>
    <div id="container">

      <% include ../views/partials/header.ejs %>

      <a class="top-links" href='/users/<%=username%>'>Your Page</a>

      <% for (let user of allUsers) { %>
        <a href="/users/<%= user._id %>"><%= user.username %></a>
      <% } %>


    divs containing user's name, most recent photo, # of posts

    </div>

  </body>
</html>
