body {
  margin: 0;
}

a {
  text-decoration: none;
}


ul {
  list-style: none;
  padding-left: 0;
}

#container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  height: 4em;
  background: rgba(237, 237, 237, .8);
  background: -webkit-linear-gradient(rgba(237, 237, 237, .8), rgba(250, 250, 250, .8));
  background: -o-linear-gradient(rgba(237, 237, 237, .8), rgba(250, 250, 250, .8));
  background: -moz-linear-gradient(rgba(237, 237, 237, .8), rgba(250, 250, 250, .8));
  background: linear-gradient(rgba(237, 237, 237, .8), rgba(250, 250, 250, .8));
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 3em;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.center-header {
  margin: auto;
  height: 4em;
  width: 800px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.head_left {
  /*float: right;*/
  margin-right: 80px;
  width: 50%;
  text-align: left;
}

.head_right{
  /*float: left;*/
  /*margin-left: 120px;*/
  width: 50%;
  text-align: right;
  padding-bottom: 7px;
}

.logo {
  display:inline;
  margin-right: 1em;
}

.logo a {
  color: #37379b;
  font-size: 2.5em;
  font-family: helvetica;
  text-decoration: none;
  letter-spacing: -2px;
}

span.looks {
  color: #c4c4c4;
}

span.h {
  font-size: 1.1em;
}

a.top-links {
  color:#b5b5b5;
  font-family: arial;
  margin-left: .8em;
  transition: .25s ease-in-out;
  font-size: 1em;
}

a.top-links:hover {
  color:#37379b;
  font-family: arial;
}

.hi {
  color:#b5b5b5;
  font-family: arial;
  font-size: 1em;
}

.name {
  color:#277fc6;
  font-family: arial;
  font-size: 1em;
}

.spotlight {
  margin: 20px auto;
  width: 800px;
  height: 400px;
  overflow: hidden;
  box-sizing: border-box;
  background: #f7f7f7;
  border: 10px solid #ccc;
  display: flex;
  flex-direction: row;
  box-shadow:  inset 0 0 7px rgba(0, 0, 0, 0.2);
}

.spot-cont {
  width: 800px;
  height: 400px;
  display: flex;
  flex-direction: row;
  margin: auto;
  padding-left: 40px;
  flex-wrap: wrap;
}

.image-cont {
  min-width: 300px;
  min-height: 340px;
  max-width: 300px;
  max-height: 340px;
  overflow: hidden;
  margin: 20px 25px;
  border-radius: 10px;
  box-sizing: border-box;
}

.spotlight img {
  width: 340px;
}

.about {
  width: 800px;
  height: 200px;
  background: #f7f7f7;
  margin: auto;
  padding: 30px;
  box-sizing: border-box;
  text-align: center;
}

.show-page {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 800px;
  flex-wrap: wrap;
  justify-content: center;
}

.show-page h1, .about h1 {
  color: #b2b2b2;
  font-size: 4em;
  font-family: helvetica;
  letter-spacing: -2px;
  margin: 0;
}

.show-img-container {
  min-width: 200px;
  min-height: 200px;
  max-width: 200px;
  max-height: 200px;
  overflow: hidden;
  margin: 20px;
}

.show-text {
position: absolute;
transition: .4s ease;
background: rgba(255,255,255,0);
z-index: 99;
width: 200px;
height: 200px;
opacity: 0;
color: #545454;
font-family: arial;
font-weight: 500;
font-size: 1.1em;
text-align: center;
padding-bottom: 20px;
box-sizing: border-box;
display: flex;
justify-content: center;
align-items: flex-end;
}

.show-text:hover {
  background: rgba(255,255,255,.8);
  opacity: 1;
}

.show-page img {
  width: 200px;
}

.caption-box {
  margin: auto;
  background: #f7f7f7;
  width: 350px;
  height: 50px;
  padding-top: 5px;
  margin-bottom: 15px;
}

hr {
    height: 10px;
    width: 100%;
    border: 0;
    margin: 5px;
}

hr.indigo {
  background: -webkit-linear-gradient(left, #3a3995 , white);
}

hr.sky {
  background: -webkit-linear-gradient(left, white , #277fc6);
}

.add-new {
  margin: auto;
}

.fields {
  width: 300px;
  height: 400px;
  background: #f7f7f7;
  margin: 20px;
  border-radius: 40px;
  border: 10px solid #efefef;
  text-align: center;
}

.fields h1 {
  color: #37379b;
  font-size: 2.5em;
  margin: 20px 0;
  font-weight: 300;
  letter-spacing: 3px;
}

input {
  width: 150px;
  height: 30px;
  text-align: center;
  font-size: 15px;
  color: #277fc6;
  border: 3px solid #e0e0e0;
  border-radius: 10px;
  outline: 0;
  background: #fcfcfc !important;
  box-shadow:  inset 0 0 7px rgba(0, 0, 0, 0.3);
}

input:-webkit-autofill {
  background: #fcfcfc !important;
}

li.login {
  color: #999;
  margin: 5px 0;
  font-family: helvetica;
  font-size: 1em;
}

button {
  width: 150px;
  height: 40px;
  color: #a5a5a5;
  font-size: .9em;
  font-weight: 600;
  border: none;
  background: #eaeaea;
  outline: 0;
  border: 2px solid #ddd;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

button:hover {
  background: #f7f7f7;
}

textarea {
  width: 200px;
  height: 70px;
  text-align: center;
  font-size: 15px;
  color: #277fc6;
  border: 3px solid #e0e0e0;
  border-radius: 10px;
  outline: 0;
  background: #fcfcfc;
  box-shadow:  inset 0 0 7px rgba(0, 0, 0, 0.3);
}

.photo-click {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 65%;
  text-align: center;
}

.photo-click img {
  width: 400px;
  margin: auto;
  border-radius: 30px;
  padding: 15px;
}

p.message {
  color: #c67575;
  font-family: arial;
}

.show-column {
  margin: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

footer {
  /*bottom: 0;*/
  height: 3em;
  width: 100%;
  text-align: center;
  font-family: helvetica;
  font-size: .8em;
  color: #277fc6;
  padding-top: 1%;
}


@media only screen and (max-width: 800px) {
  .spotlight {
    background: none;
    border: none;
    box-shadow: none;
    max-width:700px;
  }

  .spot-cont {
    flex-direction: column;
    max-height: 500px;
    max-width: 700px;
    padding-left: 0;
  }


  .image-cont {
    min-width: 300px;
    min-height: 300px;
    max-width: 300px;
    max-height: 300px;
    margin: 20px;
  }

  .spotlight img {
    width: 300px;
  }

  .logo {
    display: block;
    margin: 0;
    padding-top: 80px;
    margin-bottom: 20px;
  }

  .head_right, .head_left {
    float: center;
    padding: 0;
    width: 100%;
    text-align: center;
  }

  .header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 7em;
  padding-bottom: 20px;
  }

  .logo a {
    font-size: 5em;
  }

  a.top-links {
    transition: .25s ease-in-out;
    font-size: 1em;
  }

  .hi {
    font-size: 1em;
  }


  .photo-click img {
    width: 300px;
    margin: auto;
    border-radius: 30px;
    padding: 15px;
  }

  .photo-click {
    width: 400px;
  }

}

@media only screen and (max-width: 600px) {
  .spotlight {
    width: 400px;
    height: 800px;
    flex-wrap: nowrap;
  }

  .spot-cont {
    padding-left: 0;
    width: 400px;
    height: 800px;
    flex-wrap: nowrap;
    margin: 0;

 }

  .image-cont {
    min-width: 400px;
    min-height: 400px;
    max-width: 400px;
    max-height: 400px;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 0;
    margin-right: 0;
  }

  .spotlight img {
    width: 400px;
  }
}
