body {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  width: 50%;
}

ul {
  list-style: none;
  padding-left: 0;
}

#container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  height: 4em;
  background: rgba(237, 237, 237, .8);
  background: -webkit-linear-gradient(rgba(237, 237, 237, .8), rgba(250, 250, 250, .8));
  background: -o-linear-gradient(rgba(237, 237, 237, .8), rgba(250, 250, 250, .8));
  background: -moz-linear-gradient(rgba(237, 237, 237, .8), rgba(250, 250, 250, .8));
  background: linear-gradient(rgba(237, 237, 237, .8), rgba(250, 250, 250, .8));
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 5em;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.head_left {
  float: left;
  padding-left: 12px;
  width: 50%;
  text-align: left;
}

.head_right{
  float: right;
  padding-right: 12px;
  width: 50%;
  text-align: right;
}

.logo {
  display:inline;
  margin-right: 1em;
}

.logo a {
  color: #d6d6d6;
  font-size: 2.5em;
  font-family: helvetica;
  text-decoration: none;
}

span.looks {
  color: #fff;
}

span.h {
  font-size: 1.1em;
}

a.top-links {
  color:#b5b5b5;
  font-family: arial;
  margin-left: .8em;
}

a.top-links:hover {
  color:#a3a3a3;
  font-family: arial;
}

.spotlight {
  margin: auto;
  width: 65%;
  height: 20em;
  background: rgba(237, 237, 237, .8);
}
